<h1><%= category.category_name %></h1>
<ul>
  <% projects.forEach(project => { %>
    <li>
      <a href="/project/<%= project.project_id %>"><%= project.title %></a>
      -
      <a href="/organization/<%= project.organization_id %>"><%= project.organization_name %></a>
    </li>
  <% }) %>
</ul>
